@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
    background-color: #F0F0F7;
    width: 1100px;
    margin: auto;
    font-family: Montserrat, archivo narrow, Helvetica;
    padding-bottom: 10px;
}

.header-box {
    background-color: #2C92D8;
    height: 350px;
    margin-bottom: 30px;
    text-align: center;
}

.logo {
    width: 400px;
    margin: 50px 0px;
}

.search-bar {
    width: 45%;
    margin: auto;
}

.search-bar input {
    height: 30px;
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-family: 'Montserrat', archivo narrow, Helvetica;
}

.search-icon {
    height: 35px;
    width: 35px;
    background-color: #F8BC07;
    border-radius: 25px;
    color: white;
    text-align: center;
    float: right;
    position: relative;
    bottom: 42px;
    margin-right: -10px;
    display: table;
}

.search-icon i {
    display: table-cell;
    vertical-align: middle;
}

.profile-row-box {
    display: grid;
    grid-template-columns: 40px 40px 180px 50px 100px 50px 40px 40px 0px 280px 60px 100px;
    grid-template-rows: 30px;
    height: 50px;
    width: 90%;
    margin: 15px auto;
    background-color: white;
    border-left: 5px #2C92D8 solid;
    -webkit-box-shadow: 8px 6px 20px -11px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 8px 6px 20px -11px rgba(0, 0, 0, 0.63);
    box-shadow: 8px 6px 20px -11px rgba(0, 0, 0, 0.63);
}

.profile-row-box * {
    margin-top: 15px;
}

.avatar-icon {
    margin-left: 20px;
    height: 20px;
}

.vertical-divider {
    height: 20px;
    border-left: 2px solid lightgray;
    margin: 15px 20px;
}

.main-profile-details {
    font-size: 0.9em;
    font-weight: 600;
}

.secondary-profile-details {
    font-size: 0.8em;
    color: gray;
}

.switch-button-box {
    margin-top: -5px;
}

button {
	outline: none;
}

.switch-button {
    height: 30px;
    width: 28px;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 2px;
}

.copy-button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #F8BC07;
    color: white;
    font-family: Montserrat, archivo narrow, Helvetica;
    margin: 10px auto;
    cursor: pointer;
}

.copy-button:hover {
    background-color: rgb(206, 156, 7);
}

.popup-message {
    position: relative;
    bottom: 40px;
    margin: 0 50px;
    opacity: 0.9;
}

.popup-rectangle {
    width: 120px;
    height: 30px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}

.popup-rectangle p {
    color: white;
    font-size: 14px;
    padding-top: 5px;
}

.arrow-down {
    width: 0;
    height: 0;
    margin: 0 45px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid gray;
}

.footer-box {
    text-align: center;
}

.footer-box img {
    width: 80px;
    margin: 30px auto;
    opacity: 0.6;
}

.footer-box img:hover {
    opacity: 1;
}