@media only screen and (max-width: 600px) {

    .App {
        width: 100%;
    }

    .header-box {
        height: 250px;
    }

    .logo {
        width: 70%;
        margin: 40px 0px;
    }

    .search-bar {
        width: 75%;
    }

    .search-bar input {
        height: 20px;
    }

    .search-icon {
        height: 30px;
        width: 30px;
        bottom: 35px;
        left: 2px;
    }

    .vertical-divider {
        visibility: hidden;
    }

    .profile-row-box {
        grid-template-columns: 16% 0% 30% 25% 0% 30% 0%;
        grid-template-rows: 40% 20% 40%;
        height: 90px;
    }

    .avatar-icon {
        margin: 15px;
    }

    .main-profile-details {
        font-size: 0.8em;
        align-self: center;
    }

    .secondary-profile-details {
        font-size: 0.7em;
        align-self: center;
    }

    #profile-fullname {
        margin: 0px;
        grid-column-start: 2;
        grid-column-end: two;
        grid-row-start: 1;
    }

    #profile-degree {
        margin: 0px;
        grid-column-start: 2;
        grid-column-end: one;
        grid-row-start: 2;
    }

    #profile-grade {
        margin: 0px;
        grid-column-start: 4;
        grid-column-end: one;
        grid-row-start: 2;
    }

    #profile-email {
        margin: 0px;

        grid-column-start: 2;
        grid-column-end: one;
        grid-row-start: 1;
        grid-row-end: one;
    }

    .switch-button-box {
        margin: -8px 2px;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .switch-button {
        height: 20px;
        width: 20px;
    }

    .copy-button {
        font-size: 0.6em;
        width: 70%;
        
        margin-top: -5px;
        grid-column-start: 6;
        grid-column-end: one;
        grid-row-start: 2;
    }

    .popup-message {
        bottom: 120px;
    }

    .popup-rectangle {
        width: 80px;
        height: 20px;
    }

    .arrow-down {
        margin: 0px 30px;
    }

    .popup-rectangle p {
        font-size: 10px;
    }

    .footer-box img {
        width: 15%;
    }
}